@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 13.5px;
}

/* * {
  transition: 0.3s;
} */
.loader-background {
  height: 100%;
  width: 100vw;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.loader {
  display: inline-block;
  width: 13rem;
  height: 13rem;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* global css classes */

.Panel {
  @apply fixed top-0 flex justify-center items-center;
  @apply h-full w-full z-[10];
  @apply bg-[#0000008a] dark:text-white;
}

.Panel-transparentBackground {
  @apply absolute;
  @apply h-full w-full z-[1];
}

.Panel-container {
  @apply relative rounded-xl flex flex-col justify-between;
  @apply min-h-[25rem]  max-w-[32rem] mx-[2rem] px-[2rem] py-[2rem];
  @apply dark:bg-d_component bg-l_component z-[1];
}

.Panel-title {
  @apply text-[1.6rem] font-bold;
}

.Panel-description {
  @apply focus:outline-none focus:border-act  border-2 border-gray-500 rounded-xl;
  @apply pl-[1rem] py-[0.7rem] mt-[8px] w-full;
  @apply bg-transparent;
}

.Panel_addNew_btn {
  @apply rounded-full flex items-center justify-center font-bold;
  @apply my-[1rem] py-[0.6rem] space-x-[1rem] text-[1.1rem] w-full;
  @apply bg-gray-600 text-act;
}

.Panel-endBtn {
  @apply rounded-full flex  justify-center  font-bold;
  @apply py-[0.6rem] space-x-[1rem] text-[1.1rem] w-full;
  @apply bg-act dark:text-white;
}

.Subtasks ul {
  @apply w-full mb-[1rem];
}

.StatusTask select {
  @apply border-2 focus:outline-none focus:border-act  border-gray-500 rounded-xl;
  @apply my-[0.8rem] pl-[1rem] py-[0.6rem] mt-[8px] w-full;
  @apply bg-transparent;
}

.Subtasks ul li {
  @apply flex items-center justify-between;
}

.Subtasks ul li input {
  @apply focus:outline-none focus:border-act border-2 border-gray-500 rounded-xl;
  @apply pl-[1rem] my-[0.5rem] w-[90%] py-[0.6rem];
  @apply bg-transparent;
}

.Setting_panel {
  @apply absolute flex flex-col items-start justify-center rounded-xl shadow-xl;
  @apply px-[1rem]  w-[10rem] h-[6rem] translate-x-[-10rem] translate-y-[1rem];
  @apply bg-l_component dark:bg-d_component;
}

.Setting_panel button {
  @apply w-full text-left p-2;
}

input[type="text"] {
  @apply dark:text-white text-black;
}

/* For WebKit (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  @apply w-[9px] h-[10px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
  @apply bg-act;
}

/* For scrollbar handle or thumb */
::-webkit-scrollbar-thumb {
  @apply bg-act;
}

body {
  @apply dark:bg-d_body bg-l_body;
}
